<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="center">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label></ion-label>
        <ion-input>Escriba su contraseña</ion-input>
      </ion-item>
      <ion-item>
        
        <ion-label></ion-label>
        <ion-input>Confirme su contraseña</ion-input>
      </ion-item>
      
      <ion-button [routerLink]="['/login']">restablecer</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
